.change-password{
    margin: 0 auto;
    width: 70%;
    margin-top: 5%;
}
.input_password{
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    font-family: 'Roboto';

}
.input_password p{
    width: 100%;
}
.input_password input{
    margin-bottom: 0%;
    padding: 2.5% 2%;
    width: 100%;
    border: 0.8px solid grey;
    border-radius: 5px;
}
.confirm-button{
    width: 25%;
    padding: 1.5% 2%;
    margin-top: 2.5%;
    border-radius: 15px;
    border: 1px solid #0266ff;
    background-color: var(--active);
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 468px) {

}