

.header{
    width: 100%;
    background-color: var(--active);
    padding: 0.8em;
    text-align: center;
}
.header h2 {
    color: #fff;
    font-size: 1.4em;
    font-family: 'Roboto';
}

.course-card {
    width: 24%;
    background-color: var(--active);
    padding: 0.8em;
    color: #fff;
    border-radius: 0.5em;
    margin: 0.5em 0.2em;
}
.course-card h1{
    font-family: 'Roboto';
    margin-bottom: 0.5em;
}

.course-card .cousre-links{
    display: flex;
    flex-direction: column;

}
.course-card .cousre-links a {
    width: 100%;
    text-align: justify;
    color: #fff;
    font-family: 'Roboto';
    text-decoration: none;
}
.course-card .cousre-links a:hover {
    width: 100%;
    text-align: justify;
    color: black;
    font-family: 'Roboto';
    text-decoration: underline;
}



@media screen and (max-width : 768px) {
    .course-card{
        width: 100%;
    }
}