

.title-header{
    width: 100%;
}
.title-header h1{
   font-family: 'Roboto';
   font-size: 2em;
}
.title-header h1::after{
    content: "";
    width: 20px;
    height : 100px;
    background-color: var(--active);
}


.course-card {
    width: 24%;
    background-color: var(--active);
    padding: 0.5em;
    color: #fff;
    border-radius: 0.5em;
    margin: 0.5em 0.2em;
}
.course-card h1 , .course-card h4{
    font-family: 'Roboto';
    margin: 0.4em;
}
.course-card .cousre-links{
    display: flex;
    flex-direction: column;
}
.course-card .cousre-links a {
    width: 100%;
    text-align: justify;
    color: #fff;
    font-family: 'Roboto';
}


@media screen and (max-width : 768px) {
    .course-card{
        width: 100%;
    }
}