:root {
    --background: #f7f7f7;
    --primary: #000000;
    --secondary: #cccccc;
    --sec-text: grey;
    --active: #0266ff;
}
.profile-image img{
    margin-top: 3%;
    width: 150px;

}
.upload{
    width: 50%;
    height: 150%;
    border: 2px dashed grey;  
    border-radius: 10px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2%;
    padding: 4%;
    font-family: 'Roboto';
}
.upload h3{
    color: #0266ff;
}
.upload h2{
    margin-top: 2%;
}
.upload button{
    margin-top: 2%;
    width: 40%;
    padding: 1.5% 2%;
    border-radius:15px;
    color: white;
    cursor: pointer;
    border: 1px solid #0266ff;
    background-color: var(--active);

}

@media screen and (max-width : 768px) {
    .profile-image img{
        margin-top: 15%;
    }
    .upload{
        width: 70%;
        padding: 10%;
    }
    .upload h2{
        margin-top: 5%;
    }
    .upload button{
        width: 70%;
        padding: 3.5% 4%;
        margin-top: 5%;
    }


}

@media screen and (max-width : 468px) {
    .profile-image img{
        margin-top: 15%;
    }
    .upload{
        width: 90%;
        padding: 10%;
    }
    .upload h2{
        margin-top: 5%;
    }
    .upload button{
        width: 70%;
        padding: 3.5% 4%;
        margin-top: 5%;
    }




}